<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <h3>Do you like puppies!!??</h3>
    <p><a href="/new">Click Here To List A Puppy</a></p>
  </body>
</html>
